.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}
.navbar-container-dark {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  background-color: #333333;
}
.nav-card {
  display: flex;
  list-style-type: none;
}
li {
  padding-right: 20px;

  font-weight: bold;
}
.website-logo {
  height: 60px;
  width: 60px;
}
.theme-logo {
  height: 60px;
  width: 60px;
}
.dark-list {
  color: #ffffff;
  text-decoration: none;
}

.light-list {
  text-decoration: none;
  color: #000000;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
